@charset "UTF-8";

@media ( max-width:1023px ){
.mobile { display:block; }
.pc {display: none;}

header { height:55px;}   
header h1 { width:85px; margin-left:30px; }

.gnb_list_w { display:none; }

.national_list_w { width:20%;}
.nat_target {padding-left:0; justify-content:center;}
.nat_target_in { padding-right:15px;  }

.totalmenu_w { width:20%;}
.btn_total { padding-left:0;}
.btn_total_in { display:none;}
.btn_total:before, .btn_total:after { width:28px;left:50%; margin-left:-14px; }




/********  fullpage   *********/
#s1 {  }
.s1_w { margin:0 30px; }
.s1_in {}
.s1_main { font-size:40px; width: 300px;}
.s1_main span { font-size:45px; display:block;}
.s1_sub {   font-size: 30px; }


.s2_photo { margin-top: 50px;}
.s2_photo img {width: 250px; }
.s2_photo p {font-size: 20px; margin-bottom: 50px; }


#s2 {}
.s2_bg { bottom: auto; height: 580px; width: 100%; }
.s2_w { margin:60px 30px; }

.s2_title { max-width:210px;  }
.s2_title h1 {font-size: 3.5vw; width: 100px;   }
.s2_img { position:static;  width:50%; height:auto;  display: block; margin-top: 20px;}
.s2_cont {  }
.s2_item_title {margin-top: 30px; font-size: 16px;  }
.s2_item_cont {font-size: 14px;  margin-top: 15px; }


.s2_profile {display: inline-block; font-size: 15px; line-height: 1.6; margin-top: 33px; }
.s2_profile_left {font-size: 16px;}
.s2_profile_right {font-size: 14px; margin-left: 30px;}

.s2_license {display: inline-block; font-size: 15px; line-height: 1.6; margin-top: 33px; }
.s2_license_left {font-size: 16px;}
.s2_license_right {font-size: 14px; margin-left: 30px;}

.s2_exper {display: inline-block; font-size: 15px; line-height: 1.6; margin-top: 33px; }
.s2_exper_left {font-size: 9px;}
.s2_exper_right {font-size: 9px; margin-left: 5px;}

.s2_list {display: flex; flex-wrap:wrap;  }
.s2_list > li {display: block; width: 50%; padding-top: 20px;}












.s3_w { margin:0 30px; }
.s3_w h1 {font-size: 3.5vw; width: 70px;}
.s3_title {  }
.s3_main { font-size: 20px; margin-top:20px; }




.s4_w { margin:0 13vw; color:#000;  }

.s4_w h1 { font-size: 3.5vw; width: 50px; }

.s4_1st {display: inline-block; margin-bottom: 50px;}
.s4_1st_left img { width: 600px;}
.s4_1st_right img { width: 600px;}
.s4_1st_right { float: right;  }
.s4_1st_left { float: left;  }


.text {}
.text .title span {font-size:40px ; text-shadow: 5px 5px 10px #999;}
.item {display: inline-block; font-size: 20px; line-height: 1.6; margin-top: 80px; }
.item_left {display: none; }
.item_right {display: none; }

.btn {  margin-top: 50px;}
.btn span { border: 1px solid #737373; padding: 10px 20px; border-radius: 20px;}
.btn span:hover {color: #fff; background: #737373; transition: 0.5s;}


#arrow { bottom:-20px; right:0px;   }
.prevS, .nextS {transform: scale(0.7); margin-bottom: 15px; }


}

@media ( max-width:767px ){

    



    .s2_img {   width:100%;}

}
